.snake-grid {
  width: 200px;
  height: 200px;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
}

.snake-square {
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  background-color: blue;
}

.snake-body {
  background: green;
}
